@font-face {
    font-family: Euclid;
    src: url(./fonts/Euclid.otf);
}

@font-face {
    font-family: Euclid-Light;
    font-weight: 100;
    src: url(./fonts/EuclidFlex-Light.otf);
}

.App {
    font-family: Euclid, sans-serif;
}